
body {
    font-family: 'Roboto', sans-serif;
    max-width: 1600px;
    height: 825px;
    display: flex;
    justify-content: center;
    background-color: #030303;
    background-image: url(../img/Putin.png);
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    margin: 0 auto;
    padding: 0;
  } 
  
  a {
    color: #fff;
  } 
  
  /* header */
  .header {
    position: relative;
    width: 75%;
    padding-top: 19px;
  } 
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    text-decoration: none;
    margin: 0 30px;
    font-size: 14px;
    font-weight: 400; 
  }
  
  .header li a:hover {
    border-bottom: 2px solid #fff;
    border-radius: 2px;
  }
  
  .in-btn-log{
    text-decoration: none;
    display: block;
    position: relative;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background: none;
    outline: none;
    border:  0.5px solid #FFFFFF;
    padding: 16px 32.33px 16px 32px;
    margin-left: 52px;
  }
  
  .in-btn-log > i {
    margin-right: 10px;
  }

  .in-btn-log:hover{
    background-color: #FFFFFF;
    color: #000;
    transition: ease 1s;
  }
  
  .header .logo {
    position: relative;
    top: 14px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: -1.5px;
  }
  
  /* menu */
  .header .menu {
    display: flex;
    align-items: center;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition:  .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  /* search */
  .example{
    position:absolute;
    display: flex;
    top: 374px;
    width: 864px;
  }

  form.example input[type=text] {
    padding: 23px 27px;;
    font-size: 22px;
    font-weight: 400;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 765px;
    min-width: 200px;
    background: #f1f1f1;
  }
  
  .form.example input:hover,
  :active,:focus{
    outline: none;  
  }

  form.example button {
    float: left;
    width: 99px;
    min-width: 40px;
    padding: 23px 27px;
    background: #FF2424;
    color: white;
    font-size: 22px;
    border: none;
    cursor: pointer;
  }

  form.example button:hover {
    background: #b81a1a;
  }

  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  
  form.example a{
    position:absolute;
    top: 95px;
    font-size: 14px;
    font-weight: 400;
    color: #CECECE;
    text-decoration: none;
    border-bottom: 1px solid #CECECE;
    float: left;
  }

  form.example a:hover{
    color: #fff;
    border-bottom: 1px solid #fff;
  }

  @media (min-width : 1025px){
    .header li {
      float: left;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    
  }

  @media only screen and (max-width : 1024px){
    .header .menu {
      display: unset;
      display: block;
      text-align: center;
      margin: 0 auto;
      clear: both;
      max-height: 0;
      transition: max-height .2s ease-out;
      max-width: 260px;
      height: 200px;
    }
    .header li{
      margin-top: 10px;
    }
    .header li a {
      display: unset;
      margin: 0;
      text-decoration: none;
      font-size: 18px;
    }
    li .in-btn-log{
      display: flex;
      margin : 0 auto;
      top: 15px;
    }
    .example{
      width: 670px;
    }
  }

  @media only screen and (max-width : 768px){
    .example{
      width: 500px;
    }
  }

  @media only screen and (max-width : 600px){
    .example{
      width: 450px;
    }
    form.example input[type=text] {
      padding: 20px 23px;;
      font-size: 20px;
    }
 
    form.example button {
      padding: 23px 23px;
      font-size: 20px;
    }
  }

  @media only screen and (max-width : 533px){
    .example{
      width: 300px;
    }
    form.example input[type=text] {
      padding: 12px 15px;
      font-size: 14px;
    }
 
    form.example button {
      padding: 12px 15px;
      font-size: 17px;
    }
    form.example a{    
      top: 65px;
      font-size: 13px;
    }
  }

  @media only screen and (max-width : 360px){
    .example{
      width: 270px;
    }
    form.example input[type=text] {
      padding: 14px 16px;
      font-size: 12px;
    }
 
    form.example button {
      padding: 14px 16px;
      font-size: 14px;

    }
    form.example a{    
      top: 60px;
      font-size: 13px;
    }
  }


  /* AUTHORIZATION */
  .auth{
    position:absolute;
    display: block;
    text-align: center;
    top: 274px;
    border-radius: 20px;
    background: #fff;
    width: 555px;
    height: 390px;
  }

  .auth h2{
    margin: 0;
    text-align: center;
    color: #313029;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 30px 0;
  }

  .auth hr{
    margin: 0;
    opacity: 0.2;
  }

   .auth .a-in{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 35px;
    border: none;
    outline: none;
    background: #f2f0f2;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 400;
    padding: 0 20px 0 20px;
  }

  .auth .a-in:focus{
    background: #e9e7e9;
  }

  .auth .a-window-log{
    margin-top: 25px;
  }

  .auth .a-window-pass{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .a-forgot{
    color: rgb(6, 115, 240);
    text-decoration: none;
  }

  .a-forgot:hover{
    color: rgb(6, 100, 207);
  }

  .auth .error{
    background: #f44336;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    padding: 8px 0 8px 0;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    width: 300px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .a-checkbox{
    float: left;
    margin-left: 65px;
    margin-top: 8px;
  }

  .log-btn{
    float: right;
    margin-right: 65px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background: #FF2424;
    border-radius: 40px;
    padding: 11px 20px;
  }

  .log-btn:hover{
    background: #a71717;
  }

  @media only screen and (max-width : 600px){
    .auth{
    top: 274px;
    width: 480px;
    height: 390px;
    }
  }

  @media only screen and (max-width : 533px){
    .auth{
      top: 274px;
      width: 340px;
      height: 360px;
    }
    .auth h2{
       font-size: 30px;   
    }
    .auth .a-in{
      width: 280px;
      font-size: 14px;
    }
    .a-checkbox{
      margin-left: 30px;
    }
    .log-btn{
      margin-right: 30px;
    }
  }

  @media only screen and (max-width : 360px){
    .auth{
      top: 274px;
      width: 290px;
      height: 360px;
    }
    .auth h2{
      font-size: 20px;
      padding: 20px 0 
          
    }
    .auth .a-in{
      width: 240px;
      font-size: 14px;
    }
    .auth .error{ 
      width: 230px;
    }
    .a-checkbox{
      margin-left: 20px;
    }
    .log-btn{
      margin-right: 20px;
    }
  }

  /* registration */
  .reg{
    position:absolute;
    display: block;
    text-align: center;
    top: 255px;
    border-radius: 20px;
    background: #fff;
    width: 555px;
    height: 500px;
  } 

  .reg h2{
    margin: 0;
    text-align: center;
    color: #313029;
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 30px 0;
  }

  .reg hr{
    margin: 0;
    opacity: 0.2;
  }

   .reg .a-in{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 35px;
    border: none;
    outline: none;
    background: #f2f0f2;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 400;
    padding: 0 20px 0 20px;
  }

  .reg .a-in:focus{
    background: #e9e7e9;
  }

  .reg .a-window-log{
    margin-top: 25px;
  }

  .reg .a-window-pass{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .reg .error{
    background: #f44336;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    padding: 8px 0 8px 0;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    width: 300px;
    height: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .reg-btn{
    float: right;
    margin-right: 65px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background: #FF2424;
    border-radius: 40px;
    padding: 11px 20px;
  }

  .reg-btn:hover{
    background: #a71717;
  }
  
  @media only screen and (max-width : 600px){
    .reg{
    width: 460px;
    }
  }

  @media only screen and (max-width : 533px){
    .reg{
      width: 340px;
      height: 480px;
    }
    .reg h2{
       font-size: 30px;   
    }
    .reg .a-in{
      width: 280px;
      font-size: 14px;
    }
    .reg-btn{
      margin-right: 30px;
      float: none;
      margin: 0 auto;
    }
  }

  @media only screen and (max-width : 360px){
    .reg{
      width: 290px;
      height: 460px;
    }
    .reg h2{
      font-size: 20px;
      padding: 20px 0 
          
    }
    .reg .a-in{
      width: 240px;
      font-size: 14px;
    }
    .reg .error{ 
      width: 230px;
    }
  }

  /* LK */
  .menu li .balanse{
    border: 2px solid #fff;
    border-radius: 30px;
    padding: 10px 20px;
  }

  .menu li .balanse:hover{
    background: #f1f1f1;
    color: #000;
    border-radius: 30px;
  }

  .menu li a:hover{
    border-radius: unset;
  }

  .menu li .balanse span{
    font-size: 15px;
    font-weight: 500;
  }

  .lk-panel{
    position: absolute;
    display: block;
    top: 200px;
    margin: 0 auto;
    width: 500px;
    height: 0 auto;
    background: #f1f1f1;
    border-radius: 10px;
    padding: 0 20px;
  }

  .lk-panel-hr{
    margin: 0;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));    
  }

  .lk-panel-heading{
    display: flex;
    align-items: center;
    margin: 15px 0;
  }
  
  .lk-panel-heading a{
    text-decoration: none;
  }

  .lk-head-info-acc{
    color: #2d2931;
    margin: 0 auto;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
  }

  .lk-panel-body{
    display: block;
  }

  .lk-panel-body .ref-s{
    margin: 15px 0;
  }

  .lk-panel-body .ref-s span{
    color: #000;
    font-size: 15px;
    font-weight: 500;
  }

  .lk-panel-body .ref-s a{
    color: #2c93ff;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
  }

  .num-ref{
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin: 13px 0;
  }

  .withdrawal{
    color: #333;
    font-size: 17px;
    font-weight: 500;
    margin: 0;
    margin: 13px 0;
  }

  .conditions-form p{
    color: #333;
    font-size: 16px;
    font-weight: 400;
  }

  .levels-payment{
    color: #333;
    font-size: 15px;
    letter-spacing: 0.2px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 15px;
  }

  .form-group input[type=text]{
    display: block;
    width: 96%;
    height: 0 auto;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 10px;
    margin: 0 auto;
    border: none;
    border: 1px solid rgba(95, 95, 95, .4);
    border-radius: 5px;
    margin-top: 20px;
  }

  .form-group input[type=text]:focus{
    padding: 9px 9px;
    border: 2px solid rgba(95, 95, 95, .7); 
  }

  .form-group input[type=text]::placeholder{
    color: #313029;
  }

  .form-group input[type=btc_address]{
    display: block;
    width: 96%;
    height: 0 auto;
    font-size: 16px;
    font-weight: 400;
    padding: 8px 10px;
    margin: 0 auto;
    border: none;
    border: 1px solid rgba(95, 95, 95, .4);
    border-radius: 5px;
    margin-top: 10px;
  }

  .form-group input[type=btc_address]:focus{
    padding: 7px 9px;
    border: 1.8px solid rgba(95, 95, 95, .7); 
  }

  .form-group .btn-conclusion{
    display: block;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    background: #FF2424;
    border-radius: 5px;
    padding: 20px 70px;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .form-group input[type=btc_address]::placeholder{
    color: #333;
  }

  .form-group .btn-conclusion:hover{  
    background: #c71b1b;
  }
  @media (max-width : 1025px){
    .lk-menu {
      position: relative;
      z-index: 10;
      background: rgba(0, 0, 0, .9);
    }  
    .lk-panel{
      z-index: 3;
    }
    .menu li{
      margin-top:15px;
    }
    .menu li .balanse{
      display: block;
      width: 70%;
      margin-top: 15px;
      margin: 0 auto;
    }

  }
  @media only screen and (max-width : 600px){
    .lk-panel{
      top: 200px;
      width: 90%;
      height: 0 auto;
      margin: 0 auto;
    }
    .header{
      width: 85%;
    }
  }
  @media only screen and (max-width : 400px){
    .lk-panel{
      margin-bottom: 40px;
    }
    .header{
      width: 90%;
    }
  }
  @media only screen and (max-width : 390px){
    .lk-panel-body .ref-s a{
      display:block;
      clear: both;
    }
  }

  @media only screen and (max-width : 360px){
    .lk-panel{
      width: 85%;
    }
    .form-group input[type=text]::placeholder{
      font-size: 14px;
    }
    .form-group input[type=btc_address]{
      font-size: 14px;
    }
  }

